<!doctype html>
<html amp lang="en">
  <head>
    <meta charset="utf-8" />
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js"></script>
    <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
    <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.1.js"></script>
    <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>

    <title>{{ config.site.name }}</title>
    <link rel="canonical" href="{{ config.site.url }}">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />

    {{!-- Page schema --}}
    <script type="application/ld+json">{{{ schema }}}</script>

    {{!-- Page styling --}}
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet" />
    <style amp-custom>{{{ style }}}</style>
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
  </head>
  <body>
    <section class="tb-header">
      <div class="tb-header-wrap">
        <div class="tb-header-contents block-group">
          <div class="tb-img-holder block">
            <div class="tb-img">
              <amp-img alt="{{ config.person.name }}"
                src="{{ config.person.image }}?s=240"
                width="240"
                height="240"
                srcset="{{ config.person.image }}?s=480 480w, {{ config.person.image }}?s=240 240w, {{ config.person.image }}?s=160 160w"
                layout="responsive"
              >
                <noscript>
                  <img src="/img/pattern.png"
                    alt="{{ config.person.name }}"
                    height="240"
                  />
                </noscript>
              </amp-img>
            </div>
          </div>
          <div class="tb-meta-holder block">
            <h1>{{ config.person.firstName }} <strong>{{ config.person.lastName}}</strong></h1>
            <p>{{ config.person.description }}</p>
            <div class="tb-social-links">
              {{#each config.person.social }}
                <a target="_blank" rel="noopener" href="{{ url }}" data-vars-outbound-link="{{ url }}">{{ site }}</a>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="tb-posts">
      <div class="tb-posts-wrap">
        <h2>I write!</h2>
        <p class="tb-posts-excerpt">
          I like to jolt down ideas and experiences of my life. It can be funny or stupid, but it do bridges the gap in between the future me and the current me. A time traveller I am :D
        </p>
        <amp-list width="auto"
          height="324"
          layout="fixed-height"
          src="https://blog.tanay.co/json/recent"
          class="m1">
          <template type="amp-mustache"
            id="amp-template-recent-posts">
            <amp-carousel height="324"
              layout="fixed-height"
              type="carousel">
              \{{#posts}}
                {{> post config=config }}
              \{{/posts}}
            </amp-carousel>
          </template>
        </amp-list>
        <a target="_blank" href="{{ config.site.blogRead }}" class="tb-posts-read-more" rel="noopener" data-vars-outbound-link="{{ config.site.blogRead }}">READ MORE</a>
      </div>
    </section>
    <section class="tb-connect">
      <div class="block-group">
        <div class="block tb-twitter">
          <amp-iframe height="600px"
              sandbox="allow-scripts allow-same-origin allow-forms"
              layout="fixed-height"
              frameborder="0"
              allowTransparency
              src="{{ config.site.twitterfeed }}">
          </amp-iframe>
        </div>
        <div class="block tb-follow">
          <div class="tb-instagram">
            <amp-iframe width="490" height="246"
              sandbox="allow-scripts"
              layout="responsive"
              frameborder="0"
              allowTransparency
              src="{{ config.site.instagramfeed }}">
            </amp-iframe>
            <a href="{{ config.site.instagram }}" data-vars-outbound-link="{{ config.site.instagram }}">
              <amp-img alt="Follow tanay on Instagram"
                src="/img/insta.png"
                width="160"
                height="48"
              >
                <noscript>
                  <img src="/img/insta.png"
                    alt="Follow tanay on Instagram"
                    height="48"
                  />
                </noscript>
              </amp-img>
            </a>
          </div>
          <div class="tb-card-wrap">
            <div class="tb-card">
              <p>
                {{ config.card.description }}
              </p>
              <a target="_top" href="mailto:{{ config.person.email }}?Subject={{ config.card.emailSubject }}">SAY HI</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <amp-analytics id="ga-config" type="googleanalytics">
        <script type="application/json">{{{ tracker }}}</script>
      </amp-analytics>
    </footer>
  </body>
</html>
